.sect{
    background-color: red;
    width: 100vw;
    height: 100vh;
}
.sect:nth-child(2){
    background-color: white;
    background-image: url(images/bg-section-top-mobile-2.svg) ;
    background-size: contain;
    background-repeat: no-repeat;
}  