:root {
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale: hsl(200, 2%, 72%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
}

button {
    cursor: pointer;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.192);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.308);
    -moz-box-shadow: 0px 2px 10px 0px rgb(0, 0, 0);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

body {
    min-width: 320px;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
}
img--desktop{
    display: none;
}

header {
    width: 100%;
    padding: 20px;
}

.logo {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo>img {
    width: 140px;
}

.logo>button {
    padding: 4px 16px;
    background-color: var(--white);
    color: var(--Pink);
    border: 1px solid var(--Pink);
    border-radius: 20px;
}
.logo>button:hover{
    opacity: .8;
}
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero__content {
    text-align: center;
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero__content p {
    line-height: 1.4rem;
    text-wrap: balance;
}

.hero__content button {
    color: var(--white);
    background-color: var(--Pink);
    width: 60%;
    max-width: 300px;
    padding: 16px 20px;
    border-radius: 30px;
    font-weight: 700;
}
.hero__content button:hover{
    background-color: var(--Light-Pink);
}
.hero__content > h1{
    font-size: 1.6rem;
}
.hero__img {
    width: 100vw;
    height: 300px;
    overflow: hidden;
}

.hero__img>img {
    width: 100%;
    padding: 20px;
    object-fit: cover;
}

.score {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.score__values {
    width: auto;
    height: auto;
    text-align: center;
}

.score__values>h6 {
    font-size: 3.5rem;
}

.score__values span {
    color: var(--Very-Pale);
    font-weight: 400;
}

.score__img>img {
    height: 2rem;
    width: auto;
}

.sct {
    width: 100%;
}

.sct__elem {
    background-color: var(--Very-Pale-Blue);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 20px;
    text-align: center;
}

.svg--desktop {
    display: none;
}

.sct__elem:nth-of-type(2) {
    background-color: var(--white);
}
.sct__txt > p{
    text-wrap: balance;
    margin-top: 20px;
}
.sct__img>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.started {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 20px;
}

.started h3 {
    text-align: center;
    font-size: 1.6rem;
    text-wrap: balance;
}

.started button {
    width: 80%;
    max-width: 300px;
    font-weight: 700;
    font-size: 15px;
    background-color: var(--Pink);
    color: var(--white);
    border-radius: 30px;
    padding: 20px;
}

.started button:hover{
    background-color: var(--Light-Pink);
}

footer {
    height: 100vh;
    background-color: var(--Very-Dark-Cyan);
    color: var(--white);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.footer__subscribe{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
    position: relative;
}
.footer__subscribe h4{
    width: 100%;
    text-align: start;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
}
.footer__subscribe > input{
    width: 100%;
    padding: 15px;
    border-radius: 6px;
}
.footer__subscribe > button{
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--Pink);
    font-weight: 700;
    font-size: 1em;
    color: var(--white);
}

.footer__subscribe button:hover{
    background-color: var(--Light-Pink);
}
.footer__info{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}
.footer__img p{
    margin-top: 15px;
}
.footer__contact{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.footer__contact > img{
    margin-right: 10px;
}
.footer__contact span{
    font-size: .9rem;
}
.footer__icons{
    list-style: none;
    display: flex;
    gap: 20px;
}
.footer__icons i{
    font-size: 1.6rem;
}
picture{
    width: 100%;
    display: block;
    margin-bottom: -5px;
}
picture > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.error{
    color: var(--Light-Red);
    position: absolute;
    top: 70%;
}
@media(width >= 601px) {
    header{
        padding: 50px;
    }
    .hero{
        height: auto;
        padding: 20px;
        margin-top: 100px;
    }
    .hero__content{
        height: 30%;
        width: 400px;
        justify-content: center;
        gap: 30px;
    }
    .hero__content > h1{
        width: 100vw;
        font-size: 3rem;
    }
    .hero__img{
        width: 80vw;
        height: 70%;

    }
    .hero__img > img{

        height: auto;
        object-fit: none;
        padding: 0;
    }
    .score{
        height: 40vh;
        flex-direction: row;
    }
    .score h6{
        font-size: 6em;
    }
    .score__img{
        width: 100%;
        text-align: start;
    }
    .score__values span{
        font-size: 1.2em;
    }
    .sct__elem{
        height: 60vh;
        flex-direction: row-reverse;
        gap: 0;
        padding: 50px;
    }
    .sct__txt{
        width: 50vw;
        padding: 0 60px;
    }
    .sct__txt h2{
        font-size: 3rem;
        text-align: start;
    }
    .sct__txt p{
        text-align: justify;
    }
    .sct__img{
        width: 50vw;
    }
    .sct__img img{
        width: 80%;
    }
    .sct__elem:nth-of-type(2){
        flex-direction: row;
        height: 70vh;
    }
    .started{
        height: 60vh    ;
    }
    .started h3{
        font-size: 2rem;
    }
    footer{
        height: 60vh;
        flex-direction: row;
        padding: 0 50px;
        gap: 100px;
    }
    .footer__img p{
        text-wrap: balance;
    }
    .footer__info{
        width: 25%;

    }
    .footer__subscribe{
        width: 40%;
        align-items: start;
        justify-content: space-evenly;
        gap: 0;
    }
    .footer__subscribe h4{
        font-size: 2em;
    }
    .footer__subscribe p{
        width: 70%;
    }
    .footer__subscribe input{
        width: 60%;
    }
    .footer__subscribe button{
        width: 30%;
        position: relative;
        bottom: 24%;
        left: 65%;
    }
    .footer__icons i{
        font-size: 2rem;
    }
}